@import 'tailwindcss';
@import './typography.css' layer(components);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text-2xs: 0.6875rem;

  --font-sans: var(--font-inter);
  --font-display: var(--font-mona-sans);
}

.ml-form-embedBody, .ml-form-embedBodyDefault, .row-form {
  padding: 0 !important;
}

.ml-form-embedBodyDefault {
  padding: 0 !important;
}

.ml-form-embedWrapper, .embedForm {
  padding: 0 !important;
}

.ml-form-successBody, .row-success {
  padding: 0 !important;
  padding-top: 10px !important;
}

.ml-form-successBodyDefault {
  padding: 0 !important;
}
